/* added #root */
/* body,
#root  */

/* body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  background-color: tomato;
} */

/* needed to change to #root because the div is deeper than the body, it wasn't reaching */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  background-color: tomato;
}
